<div class="panel panel-primary">

	<div class="panel-heading">
		<h3 class="page-header">
				<span>{{list.formtitle}}</span>
				<div class="pull-right">
					<div class="btn-group" role="group">
					  <button type="button" class="btn btn-success" ng-click="saveData()">Guardar</button>
					  <button type="button" class="btn btn-danger" ng-click="cancelForm()">Cancelar</button>
					</div>
				</div>
		</h3>
	</div>

	<div class="panel-body">
		<form id="ppal"></form>
	</div>
</div>


<div class="modal fade" id="modalok">
  <div class="modal-dialog">
    <div class="modal-content panel-primary">
      <div class="modal-header panel-heading">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Registro exitoso</h4>
      </div>
      <div class="modal-body">
        <p>{{message}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="modalerror">
  <div class="modal-dialog">
    <div class="modal-content panel-danger">
      <div class="modal-header panel-heading">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Error de registro</h4>
      </div>
      <div class="modal-body">
        <p>{{message}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->







